<div class="editor">
    @if (servicePerson()) {
        <div class="flex-row">
            <div class="close-button" (click)="onClicked()">&#8680;</div>
            <div class="flex-column fields">
                <button (click)="onSureDeleteClicked()" style="width: 100%;" [hidden]="deletionWanted()">SURE TO DELETE</button>
                <label class="field-name">Name</label>
                <input class="input-field" type="text" [(ngModel)]="person.name">

                <label class="field-name">Surname</label>
                <input class="input-field" type="text" [(ngModel)]="person.surname">

                <label class="field-name">Gender</label>
                <input class="input-field" type="text" [(ngModel)]="person.gender">

                <label class="field-name">Birth date</label>
                <input class="input-field" type="text" [(ngModel)]="person.birth">

                <label class="field-name">Wedding date</label>
                <input class="input-field" type="text" [(ngModel)]="person.wedding">

                <label class="field-name">Death date</label>
                <input class="input-field" type="text" [(ngModel)]="person.death">

                <label class="field-name">Birth city</label>
                <input list="my-city-list" class="input-field" type="text" [(ngModel)]="person.birth_city">

                <label class="field-name">Wedding city</label>
                <input list="my-city-list" class="input-field" type="text" [(ngModel)]="person.wedding_city">

                <label class="field-name">Death city</label>
                <input list="my-city-list" class="input-field" type="text" [(ngModel)]="person.death_city">

                <label class="field-name">Show parents</label>
                <input class="input-field" type="checkbox" [(ngModel)]="person.show_parent">

                <label class="field-name">Notes</label>
                <textarea class="input-field" type="text" [(ngModel)]="person.notes"></textarea>

                <datalist id="my-city-list">
                    @for (city of cities(); track city) {
                        <option>{{ city }}</option>
                    }
                </datalist>

                
                
                <div class="button-container">
                    <button (click)="onSaveClicked()" style="width: 100%;">SAVE</button>
                    <button (click)="onDeleteClicked()" style="width: 100%;">DELETE</button>
                    <div class="flex-row">
                        @if (!hasFather()) {
                            <button class="parent-button" (click)="onAddParentClicked(true)">Add father</button>
                        } @else {
                            <div class="parent-button"></div>
                        }
                        
                        @if (!hasMother()) {
                            <button class="parent-button" (click)="onAddParentClicked(false)">Add mother</button>
                        } @else {
                            <div class="parent-button"></div>
                        }
                    </div>
                </div>
                
            </div>
        </div>
    }
</div>