.editor {
  background-color: rgb(128, 201, 217);
  display: block;
  width: var(--editor-width);
  height: 100%;
  font-family: "IBMPlexSans";
  font-size: large;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.close-button {
  background-color: rgb(91, 143, 155);
  width: 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.input-field {
  font-family: "IBMPlexSans";
}
/* 
.field-name {
}

.button-container {
} */

.fields {
  padding: 1rem;
  height: auto;
}

button {
  height: 2rem;
  margin: 1rem 0 1rem 0;
}

.parent-button {
  height: auto;
  width: 50%;
}

.form-control-sm {
  width: calc(100% - 1rem);
  font-size: 0.7rem; /* Réduction de la taille de police */
  padding: 0.15rem 0.5rem; /* Réduction du padding */
  height: calc(1.5em + 0.5rem + 2px); /* Réduction de la hauteur */
}

.form-label.small {
  font-size: 0.7rem; /* Réduction de la taille de police des labels */
  margin-bottom: 0.2rem; /* Réduction de l'espacement sous les labels */
}

.mb-1 {
  margin-bottom: 0.25rem !important; /* Réduction de l'espacement entre les éléments */
}
