/* You can add global styles to this file, and also import other style files */
:root {
    --scale-value: 1.0;
}

body, html{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: "IBMPlexSans";
    src: url("assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    /* font-size: calc(0.89rem * var(--scale-value)); */
}