:host {
  width: calc(100vw - var(--editor-width));
  height: 100%;
}

.frame {
  width: calc(100% - 2vh);
  height: 98%;
  position: relative;
  top: 1vh;
  left: 1vh;
}

.content {
  width: calc(100% - 2vh);
  height: calc(100% - 2vh);
  position: relative;
  top: 1vh;
  left: 1vh;
}
